.paart{
    text-align: center;
}
.fist{
    background-color: rgb(66, 66, 241);
    color: white;
    font-weight: bolder;
}
h1{
    font-size: 80px;
}
.driver{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 0.5%;
    background-color:rgb(152, 187, 252) ;
    margin-left: 2%;
    margin-right: 2%;
}
.driver p{
    text-decoration: underline blue;
    text-underline-offset: 5px;
}
.row{
    background-color:rgb(152, 187, 252) ;
    margin-left: 2%;
    margin-right: 2%;
}