#navbarSupportedContent ul li a{
    padding: 15px;
}
#navbarSupportedContent ul li a:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
#textcol{
    color: white;
}
#textcoll{
    color: rgb(0, 36, 136);
}
h5{
    color: blue;
}
#carouselExampleCaptions{
    width: 70%;
    height: 30%;
    margin-left: 15%;
}